<div>
<a class='frontpage' href='#/cn'>SNKRS CN</a><br/>
<a class='frontpage' href='#/us'>SNKRS US</a>
<table class='table table-hover table-condensed' border='1'>
<tr><th>Name</th><th>Size</th><th>Price</th><th>Add to cart</th></tr>
<tr ng-repeat='value in products'>
<td>{{value.productname}}</<td>
<td>{{value.size}}</td>
<td>{{value.price}}</td>
<td><button ng-click="addtocart(value.id)">Add</button></td>
<td><button ng-click="view(value.id)">View</button></td>
</tr>
<table>
<button ng-click='gotocart()'>cart</button>
<button ng-click='logout()'>logout</button>
<div>