<div>
<a class='frontpage' href='#/cn'>SNKRS CN</a><br/>
<a class='frontpage' href='#/us'>SNKRS US</a>
<label>Search: <input type='text' placeholder='search' ng-model='Search'/></label>
<table class='table table-hover table-condensed' border='1'>
<tr><th>Name</th><th>Size</th><th>Price</th><th>View</th></tr>
<tr ng-repeat='value in products | filter:Search'>
<td>{{value.productname}}</<td>
<td>{{value.size}}</td>
<td>{{value.price}}</td>
<td><button ng-click="view(value.id)">View</button></td>
</tr>
<table>
<a href='#/cart' >cart</button>
<button ng-click='logout()'>logout</button>
<div>