<button href='#/cart' class='btn btn-primary pull-right' >cart</button></br>

<div class='modal' id='cartmodal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
       <div class='modal-header'>
          <button class='close' data-dismiss='modal'>&times;</button>
          <h4 class='modal-title'>cart</h4>
       </div>
       <div class='modal-body'>
          <table>
         <tr ng-repeat='value in cart'>
         <td>{{value.productname}}</td>
         <td>{{value.size}}</td>
         <td>{{value.price}}</td>
         <td>{{value.quality}}</td></tr>
          </table>
       </div>
       <div class='modal-footer'>
           <button class='btn btn-primary' ng-click='checkout()'>Checkout</button> 
       </div>
    </div>
  </div>


</div>
<table class='table'>
  <tr><th>Name</th><th>Price</th><th>Size</th></tr>
  <tr><td>{{name}}</td><td>{{price}}</td><td>{{size}}</td></tr>
  <tr><td><button ng-click='addtocart()' class="btn btn-primary" data-target='#cartmodal' data-toggle='modal'>Add</button></td></tr>
</table></br>
<div>
<article>Brand New,Got from Footsites, NO Refund!!!</article>
</div></br>
<div>
<table class='table'>
<tr ng-repeat='value in imgURL'>
<td><image src={{value}} class='image'></image></td>
</tr>
</table>
</div>